.statBox {
    width: 140px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin: 15px;
    position: relative;
    background: #1E2133;
    overflow: hidden;
}

.statBoxTitle {
    font-weight: 300;
    font-size: 15px;
    margin-left: 10px;
}

.statBoxNumber {
    font-weight: 500;
    font-size: 30px;
    margin-left: 10px;
}

.statBox::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(45deg, var(--accent-purple), var(--accent-blue));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}