:root {
    --background: #171723;
    --background-panel: #24273D;
    --accent-purple: rgb(237, 75, 255);
    --accent-blue: rgb(75, 75, 255);
    --base-font: #dbdbdb;
}

* {
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
}

.body{
    background: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}