.evalButton {
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 15px;
    position: relative;
    background: linear-gradient(45deg, rgba(237, 75, 255, 0.50), rgba(75, 75, 255, 0.50));
    border-radius: 5px;
    border-style: none;
}

.evalButton::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(45deg, var(--accent-purple), var(--accent-blue));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.evalButton:hover {
    transition: background-color ease 1s;
    background: linear-gradient(45deg, rgba(237, 75, 255, 0.40), rgba(75, 75, 255, 0.40));
}

.evalButton:active {
    background: linear-gradient(45deg, rgba(237, 75, 255, 0.30), rgba(75, 75, 255, 0.30));
}
