.rightSideToolPanel {
    background: var(--background-panel);
    height: 100%;
    width: 25%;
    margin-left: auto;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

.topQuickToolStats {
     display: flex;
     justify-content: space-evenly;
}

.sourceCodePre {
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    /*overflow: auto;*/
    /*scrollbar-width: thin;*/
    /*font-size: 15px;*/
}

.errorSection {
    left: 0;
    right: 0;
    display: flex;
    color: white;
    overflow-y: auto;
    flex-flow: wrap;
    align-items: center;
    scrollbar-width: thin;
}

.sectionBreak{
    border-top: #1E2133 solid 2px;
}

