.rightSideToolPanel {
    background: var(--background-panel);
    height: 100%;
    width: 25%;
    margin-left: auto;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

.topQuickToolStats {
     display: flex;
     justify-content: space-evenly;
}

.sourceCodePre {
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    /*overflow: auto;*/
    /*scrollbar-width: thin;*/
    /*font-size: 15px;*/
}

.errorSection {
    left: 0;
    right: 0;
    display: flex;
    color: white;
    overflow-y: auto;
    flex-flow: wrap;
}

.errorCard{
    background: #1E2133;
    width: 100%;
    height: 102px;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.22);
    border-style: solid;
    border-width: 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
}

.errorCard::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(45deg, var(--accent-purple), var(--accent-blue));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.errorComparison {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.errorTitle {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.errorCompBox {
    background: #282C34;
    height: 60px;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
}

.errorCompBoxText {
    margin: 5px;
}
.errorDeduction {
    border: 1px solid #40424b;
    height: 60px;
    width: 95px;
    border-radius: 5px;
    margin: 5px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.errorDeductionAmount {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 30px;
}

.errorDeductionTitle {
    margin-left: 10px;
}


/*TODO: Fix sizing issues with smaller screens
   and finish implementing the toggle button*/